form {
    display: flex;
    flex-direction: column;
    padding: 2em;
    min-height: 200px;
    justify-content: space-between;
    align-items: start;
}

input {
    margin-left: 2em;
    margin-bottom: 2em;
}

.input-wrapper {
    position: relative;
}

.tooltip {
    color: black;
    font-size: 0.8em;
    white-space: pre-wrap;
    text-align: left;
    position: absolute;
    top: 100%;
    border: 1px solid #ddd;
    padding: 5px;
    visibility: hidden;
    z-index: 100;
    background-color: lightgray;
}
